body{
    font-family: 'Lato', sans-serif, 微軟正黑體;
    font-weight: 300;
    box-sizing: border-box;
    color:rgb(39, 20, 7);
    background: #fff; 
    
}

body::-webkit-scrollbar{
    display:none
}

#bodywrap{
    overflow-x: hidden;
}
ul{
    list-style-type: none ;
}
li{
    list-style-type: none ;
    padding: 20px 0px;
}

.open_icon{
    font-size: 30px;
    color: rgb(248, 242, 235);
    transition: .3s;
}

.open_menu{
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: .4s;
}

img{
    width: 100%;
    height: auto;
    transition: .3s;
}

nav{
    display: flex;
    background: rgb(39, 20, 7);
    width: 2%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    transition: .6s;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;

}

.nav{
    display: flex;
    position: fixed;
    top:50%;
    left: -15%;
    transform: translate(-50%,-50%);
    z-index: 150;
    transition: .6s;
}
.nav a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color:rgb(248, 242, 235);
    transition: .3s;
}

.nav a:hover{
    background: rgb(223, 178, 120);
}
.menu_move{
    left: 50%;
}
.menu{
    position: relative;
}

main{
    position: relative;
    background: #fff;
}


.left-content{
    padding: 40px 0;
}
.right-content{
    position: relative;
    width: 32%;
    height: 100%;
    transition: .3s;
}


.line{
    background: #fff;
    position: relative;
    margin: 0px;
    left: -100%;
    width: 100%;
    transition: .8s;
    border: 0.5px solid black
}
.name_title{
    position: relative;
    font-family: 'Lobster', cursive;
    margin:90px 0;
    font-size: 120px;
}
.descript{
    line-height: 35px;
    font-weight: 400;
}
.realname_title{
    position: absolute;
    font-size: 16px;
    left: 220px;
    top: 146px;
}

.scroll_down{
    position: absolute;
    transform: translateX(-50%);
    left:50%;
    bottom: 15px;
    font-size: 10px;
    cursor: pointer;
    /* animation: .3s move infinite alternate linear; */
}

.content{
    opacity: 0;
    transition: 1s;
    padding: 50px;
    transition-delay: .6s;
}

.nav,.social{
    animation-delay: .3s;
}

.social{
    padding-left: 0;
}

.icon{
    font-size: 24px;
    color:#000F3F;
    transition: .3s;
    padding:5px 10px;
}

.icon:hover{
    font-size: 28px;
}

.skill_bg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}

#skill{
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: 50;
}

.skill_title{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    background: #000F3F;
    color: white;
    font-weight: 600;
}

.skill_bar{
    padding: 80px 0px;
}

.progress-bar{
    position: relative;
    width: 100%;
    height: 25px;
	background: rgb(194, 193, 193);
	margin:40px 0;
}

.progress-bar>div{
	display: inline-block;
}

.progress-bar .progress{
    position: absolute;
	background: rgb(43, 31, 22);
	height: 25px;
	color: white;
    text-transform: uppercase;
    transition: 1.2s ease-out;
}
.barname{
    position: absolute;
    top:12%;
    left: 20px;
    font-size: 14px;
}

.progress_title{
    font-weight: 800;
}

.pin{
    box-shadow: 3px -3px 0px #504f4f;
	position: absolute;
    top: -35px;
	left: 0px;
	background: rgb(39, 20, 7);
	color: #fafafa;
	padding: 5px;
	border-radius: 15px;
    font-size: 12px;
    opacity: 0;
    transition: .3s;
}

/* 三角形語法 */


.pin:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: rgb(39, 20, 7);
	border-width: 4px;
	margin-left: -4px;
}

.my_new_work{
    display: flex;
    align-items: center;
}
.work{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0%;
    height: 100vh;
    background: #fff;
    /* background:url(../Img/skill_bg.jpg) no-repeat bottom center; */
    background-attachment: fixed;
    transition: 1s;
    background-size: cover;
}

.homework{
    opacity: 1;
    width: 50%;
    height: auto;
    padding:15px 10px;
    box-sizing: border-box;
    transition: .5s;
    transition-delay: .8s;
}
.homework a{
    text-decoration: none;
}

.work_descrip{
    margin: 10px 0;
    text-align: center;
    color: rgb(43, 31, 22);
    font-weight: 800;
}


.work_pic{
    position: relative;
    overflow: hidden;
}

.useskill{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 101%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background:rgba(29, 29, 29, 0.808);
    color: #fff;
    transition: .3s;
}

.gocontact{
    color: #000F3F;
}

.contact{
    position: relative;
    background: #fff;
    width: 100%;
    height: 100vh;
}
.profile{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mail_icon{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
    animation: .6s ripple_wave infinite alternate;
}

.mail_icon img{
    object-fit: cover;
}
.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 0px;
    border-top: 2px solid rgb(39, 20, 7) ; 
    border-bottom: 2px solid rgb(39, 20, 7) ;
    font-weight: 600;
    color:rgb(39, 20, 7);
    overflow: hidden;
    transition: 1s;
    visibility: hidden;
}
.pro_pic{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.contact_info>div{
    margin:10px 0;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    border:#333;
    /* background: #fafafa; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 0px;
    font-size: 24px;
    transition: .3s;
}

#gotop{
    color: rgb(39, 20, 7);;
}

.top:hover{
    color: rgb(39, 20, 7);
}

.top:hover a{
    color: rgb(39, 20, 7);
}

@keyframes ripple_wave {
    0% {
        transform:scale(1)
    }
    100% {
        transform:scale(1.2)
    }
  }
.fa-angle-down{
    position: absolute;
    animation:  .3s move infinite alternate;
    bottom: 4px;
    right: -13px;
}
@keyframes move {
   
    to{ bottom:2px};
}

@keyframes border_bottom {
   
    to{ width:25px};
}

.open{
    width: 100%; 
    justify-content: flex-start;
}

.close1{
    left:-120px;
}

.rotate{
    transform:rotate(180deg);
}

.content {
    height: 100vh;
}

@media (max-width: 768px) {
    .realname_title {
        right: -11px;
    top: 66px;
    }
	
    .content {
        padding: 35px;
        flex-direction: column;
    }
    .right-content{
        width: 45%;
    }
    .left-content{
        padding:0;
        max-width: 100%;
    }
    .name_title{
        font-size: 40px;
        margin: 10px 10px;
        text-align: right;
        width: 100%;
    }
    nav{
        width: 5%;
        padding-left: 3px;
    }

    .open_icon{
        font-size: 24px;
    }
    main{
        margin: 0;
    }

    .mobile_skill{
        max-width: 80%;
    }

    .mobile_row{
        flex-direction: column;
    }
    .mobile_row1{
        flex-direction: column;
    }

    .skill_bar{
        padding:35px 0;
    }
    
    .progress-bar{
        margin: 15px 0;
        height: 20px;
    }

    .progress-bar .progress{
        height: 20px;
    }

    .barname{
        font-size: 10px;
    }
    .contact_info{
        width: 300px;
    }   
    .fa-angle-down{
        font-size: 10px;
    }
    .homework_wrap{
        flex-direction: column;
        align-items: center;
    }
    .homework{
        width: 80%;
        height: 150px;
        padding: 0px 10px;
        margin: 50px 0;
    }
    .mail_icon{
        left: 38%;
    }

    .nav a:hover{
        background: transparent;
    }
    
}